
.taskWrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 800px
  margin: 0 auto
  margin-bottom: 20px
  padding-bottom: 20px
  background-color: #F5EEDC

.taskContent
  display: flex
  flex-direction: row
  justify-content: center
  align-content: center

.title
  font-size: 20px
  color: #ECB390

.taskBody
  display: flex
  flex-direction: row
  justify-content: flex-end

  width: 80%

.taskText
  margin-right: 10px
  color: #ECB390
  margin-top: 10px

.textWrap
  width: 300px


.textBody
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#btn
  background-color: transparent
  height: 30px
  width: 30px

.radioWrap
  display: flex
  flex-direction: column
  justify-content: center
  margin-left: 10px
  padding-left: 10px

.status, #demo-radio-buttons-group-label
  color: #DD4A48

.deleteStatusWrap
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.css-ahj2mt-MuiTypography-root
  color: #DD4A48

