
.test{
    color:aqua ;
}

.css-1gzkxga-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select{
    font-family: sans-serif;
    color: red;
    font-size: 40px;
    width: 250px;
}
