.wrapper
  width: 100%
  height: 100%
  margin: 0 auto
  margin-top: 50px
  display: flex
  flex-direction: column
  align-items: center
  .link
    color: #DD4A48
.btnSelWrap
  display: flex
  flex-direction: row
  align-items: center
select, .showBtn
  background-color: inherit
  width: 120px
  height: 42.25px
  border: 1px solid #a4a4a4
  border-radius: 5px
  color: #7A7C7A
.showBtn
  width: 80px
  margin-left: 25px

img
    width: 38px

body
  background-color: #C0D8C0
  color: whitesmoke

  @media (max-width: 850px )
    .wrapper
      margin-top: 20px
