.wrapper
  width: 100%
  height: 100%
  margin: 0 auto
  padding-top: 100px
  display: flex
  flex-direction: column
  align-items: center
  .link
    color: #DD4A48

body
  background-color: #C0D8C0
  color: whitesmoke
